@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <h4>Angular 4 Demo App</h4>
</div>
<div class="row">
    <div class="col-md-4">
        <!-- Angular4 Code -->
        <my-app>Loading...</my-app>
        <!-- Angular4 Code -->
    </div>
</div>